<!DOCTYPE html>
<html>
	<head>
		<title>
			Home Central - Temperatures
		</title>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
		<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
	</head>
	<body>
		Timescale:
		<select id="timescale">
			<option value="24">Last day</option>
			<option value="72">Last 3 days</option>
			<option value="168">Last week</option>
			<option value="336">Last two weeks</option>
			<option value="672">Last month</option>
			<option value="2016">Last three months</option>
		</select>
		<canvas id="chart">
		</canvas>
	</body>
</html>

